<h1>Войти</h1>
<form
  method="post"
  action="/login"
  style="display: flex; flex-flow: column; gap: 12px"
>
  <input placeholder="Имя" name="name" type="text" />
  <input placeholder="Пароль" name="password" type="password" />
  <button
    class="btn waves-effect waves-light"
    type="submit"
    name="action"
  >Войти
  </button>
</form>