.nav-wrapper {
  padding: 10px;
  padding-top: 0;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  min-height: 100vh;
}
.user {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
}
